@model  FileData

<div class="panel panel-primary">
    <div class="panel-heading">Goods</div>
    <div class="panel-body">
        <table class="list">
            @foreach (var data in Model.Datas)
            {
                <tr>
                    @foreach (var item in data)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>